# Key management
/modules/AlphaWalletFoundation/AlphaWalletFoundation/KeyManagement/ @hboon @oa-s
HDWallet+Extension.swift @hboon @oa-s

# Key backup
BackupSeedPhraseCoordinator.swift @hboon @oa-s
ShowSeedPhraseViewController.swift @hboon @oa-s
ShowSeedPhraseViewModel.swift @hboon @oa-s

# Dapp browser related
BrowserViewController.swift @hboon @oa-s
WKWebViewConfiguration.swift @hboon @oa-s

# Others

/modules/AlphaWalletFoundation/AlphaWalletFoundation/Initializers/ @hboon @oa-s
/modules/AlphaWalletFoundation/AlphaWalletFoundation/Settings/Types/Constants+Credentials.swift @hboon @oa-s
/modules/AlphaWalletFoundation/AlphaWalletFoundation/EtherClient/TransactionSigning.swift @hboon @oa-s
/modules/AlphaWalletWeb3/AlphaWalletWeb3/Utils/Web3+Utils.swift @hboon @oa-s
