#Disable all and explicitly enable them to avoid unintentionally activating new rules in newer versions of SwiftFormat
--disable all

--enable indent
--indent 4

--enable typeSugar

--enable redundantVoidReturnType
--closurevoid remove

--enable trailingCommas
--commas always

--enable elseOnSameLine
--elseposition same-line
--guardelse "same-line"

--enable emptyBraces
--emptybraces no-space

--enable enumNamespaces
--enumnamespaces always

--enable genericExtensions

--ifdef indent
--indentcase false
--indentstrings true
--tabwidth unspecified
--xcodeindentation disabled

--enable linebreaks
--linebreaks lf

--disable wrapSingleLineComments

--enable modifierorder
--modifierorder private,lazy

--enable spaceAroundOperators
--operatorfunc spaced
--nospaceoperators ...,..<
--ranges "no-space"

--enable hoistPatternLet
--patternlet inline

--enable semicolons
--semicolons inline

--enable typeSugar
--shortoptionals always

--enable unusedArguments
--stripunusedargs closure-only

--enable trailingSpace
--trimwhitespace always

--enable blankLinesAtStartOfScope
--typeblanklines remove

--enable void
--voidtype void

--enable yodaConditions
--yodaswap always

--disable spaceInsideComments

--enable braces
--allman false

--enable sortedImports
--enable duplicateImports
--enable consecutiveBlankLines
--enable consecutiveSpaces

#Files

--exclude build,vendor
--exclude Pods,Generated
--exclude modules/AlphaWalletFoundation/AlphaWalletFoundation/NFT/Enjin/API.swift
--exclude AlphaWallet/R.generated.swift

#Excluded because of error while processing
#But we still need to keep this file
--exclude AlphaWallet/Browser/ViewModel/Dapps.swift
