language: swift
osx_image: xcode9.2

branches:
  only:
    - master
env:
  - LC_CTYPE=en_US.UTF-8 LANG=en_US.UTF-8

cache:
    # - cocoapods
  - bundler

before_install:
  - gem install cocoapods -v '1.5.3'
  - pod install --repo-update
  - brew update
  - brew install swiftlint || true

script:
  - set -o pipefail
  - fastlane travis_tests

after_success:
  - bash <(curl -s https://copilot.blackducksoftware.com/ci/travis/scripts/upload)
