---
os: osx
language: objective-c
osx_image: xcode14.3
cache:
  bundler: true
branches:
  only:
    - master
env:
  - LC_CTYPE=en_US.UTF-8 LANG=en_US.UTF-8
  - OS_Version="16.2"
jobs:
  exclude:
    - env: LC_CTYPE=en_US.UTF-8 LANG=en_US.UTF-8
script:
  - set -o pipefail && xcodebuild -workspace AlphaWallet.xcworkspace -scheme AlphaWalletTests -destination platform\=iOS\ Simulator,OS\=16.2,name\=iPhone\ 14 build-for-testing | xcpretty
...
