<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:app.awallet.io</string>
		<string>applinks:aw.app</string>
		<string>applinks:classic.aw.app</string>
		<string>applinks:callisto.aw.app</string>
		<string>applinks:kovan.aw.app</string>
		<string>applinks:ropsten.aw.app</string>
		<string>applinks:rinkeby.aw.app</string>
		<string>applinks:poa.aw.app</string>
		<string>applinks:sokol.aw.app</string>
		<string>applinks:xdai.aw.app</string>
		<string>applinks:custom.aw.app</string>
		<string>applinks:goerli.aw.app</string>
		<string>applinks:binance.aw.app</string>
		<string>applinks:test-binance.aw.app</string>
	</array>
	<key>com.apple.developer.default-data-protection</key>
	<string>NSFileProtectionComplete</string>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.stormbird.alphawallet</string>
	</array>
</dict>
</plist>
